.add-container {
  max-width: 900px;
  width: 100%;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 50px;
}

.add-siteName {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #555;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 20px;
}

.add-searchIcon {
  margin-left: 0.5rem;
  color: #9d47ff;
}

.add-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.add-container form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.full-width {
  flex-basis: 100%;
}

.half-width {
  flex-basis: calc(50% - 15px);
}

.third-width {
  flex-basis: calc(33.333% - 10px);
}

.add-container label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.add-container input,
.add-container select,
.add-container textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.add-container input:focus,
.add-container select:focus,
.add-container textarea:focus {
  border-color: #007bff;
}

.add-container textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
}

.add-button {
  background: #007bff;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  display: inline-block;
  width: 100%;
}

.add-button:hover {
  background: #0056b3;
}

.add-button-content {
  font-weight: bold;
  font-size: 16px;
}

.left-section {
  margin-top: 20px;
}

@media (max-width: 640px) {
  .title {
    font-size: 25px;
  }
}
